.claude/*
!.claude/CLAUDE.md
!.claude/settings.json
.config/*
!.config/bat/
!.config/borders/
!.config/crush/
!.config/lazygit/
!.config/litellm/
.config/litellm/*
!.config/litellm/config.yaml
!.config/mise/
!.config/nvim/
.config/nvim/lua/core/secrets.lua
.config/nvim/lazy-lock.json
!.config/sheldon/
.config/tmux/*
!.config/tmux/tmux.conf
!.config/ueberzugpp/
!.config/wezterm/
!.config/zsh/
.DS_Store
Brewfile.lock.json
codecompanion-workspace.json
.aider*
!.aider.conf.yml
