.config/*
!.config/lazygit/
!.config/neofetch/
!.config/nvim/
.config/nvim/lua/core/secrets.lua
.config/nvim/lazy-lock.json
!.config/tmux/
!.config/sheldon/
!.config/wezterm/
!.config/zsh/

Brewfile.lock.json
